spring:
  datasource:
    url: jdbc:mysql://localhost:3306/estoque_veiculos?useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  # ⭐⭐ CONFIGURAÇÃO PARA SERVIR ARQUIVOS ESTÁTICOS ⭐⭐
  web:
    resources:
      static-locations: classpath:/static/

server:
  port: 8080

logging:
  level:
    com.rafael.estoqueveiculos: INFO
    org.hibernate.SQL: DEBUG